<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- IIS MIME map so .mp4 is served correctly when static content is handled by IIS alongside ASP.NET Core. -->
      <staticContent>
        <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      </staticContent>
      <aspNetCore processPath="dotnet" arguments=".\ContentAgent.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2CFC8435-75C9-1500-EA2C-49E7098C310D--> 
